doctype html
html(lang='en')
    head
        title #{projectName} | sambac
        link(rel='stylesheet', type='text/css', href='/jasmine/lib/jasmine-core/jasmine.css')
    body
        div(class='jasmine_html-reporter')
            div(class='banner', style='height: 40px;')
                a(class='title', href='/')
                span(class='version') 2.3.4
            div(class='alert')
                span(class='duration') #{specs.length} specs
                span(class='bar passed') <b>#{projectName}</b>
            div(class='results')
                div(class='summary')
                    ul(class='suite')
                        li(class='suite-detail')
                            a(href='/specs') all specs
                    ul(class='suite')
                        each spec in specs
                            li(class='suite-detail')
                                a(href=spec.url) #{spec.name}