doctype html
html(lang='en')
    head
        title #{projectName} | sambac
        link(rel='stylesheet', type='text/css', href='/jasmine/lib/jasmine-core/jasmine.css')
    body
        div(class='jasmine_html-reporter')
            div(class='jasmine-banner', style='height: 40px;')
                a(class='jasmine-title', href='/')
            div(class='jasmine-alert')
                span(class='jasmine-duration') #{specs.length} specs
                span(class='jasmine-bar jasmine-passed') <b>#{projectName}</b>
            div(class='jasmine-results')
                div(class='jasmine-summary' style="font-size: larger; line-height: normal;")
                    ul(class='jasmine-suite')
                        each spec in specs
                            li(class='jasmine-suite-detail')
                                a(href=spec.url, target='_blank') #{spec.name}
                                a(href=spec.debugUrl, target='_blank', style='padding-left: 10px;') (debug)